<div>
    <div class="row">
        <div class="col-md-4 align-items-center text-justify">
            <div class="beep">
                <img src="assets/Beep Logo.png" alt="Unable to load the page" height="40vh">
                <p>Lorem ipsum dolor sit amet Eum, nam animi nesciunt est similique ut cum vero deleniti iusto, quos
                    quam reprehenderit facere, hic quo exercitationem distinctio laboriosam laborum quae!</p>
            </div>

        </div>
        <div class="col-md-4">
            <div class="follow align-items-center text-justify">
                <h4>Follow Us</h4>
                <p>Lorem ipsum dolor sit amet consectetur, Laboriosam sdfauoib qawdacwvhrj fafjlnfomn nesciunt
                    pariatur
                    reiciendis perferendis?</p>
                <div class="footer-icons">
                    <a class="fab fa-facebook-f"></a>
                    <a class="fab fa-twitter"></a>
                    <a class="fab fa-google-plus-g"></a>
                    <a class="fab fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact align-items-center text-justify">
                <h4>Contact Us</h4>
                <p>My Company, 4578 Marmora Road, Glasgow</p>
                <p>D04 89GR</p>
                <p>Call us now: 0123-456-789</p>
                <p>Email: support@whatever.com</p>
            </div>
        </div>
    </div>
    <hr>
    <!-- Credits --> 
    <div class="row container">
        <div class="col-md-12 d-flex justify-content-between">
            <p>&#169; 2021 Ecommerce site by www.beep.com</p>

            <img src="assets/Cards.png" alt="" width="180px" height="30vh">
        </div>
    </div>
</div>