.fa-facebook-f{
    color:#1565C0;
}
.fa-twitter{
    color: #12c2e9;
}
.fa-google-plus-g{
    color: #c31432;
}

.fa-youtube{
    color: #ED213A;
}
.fab{
    text-decoration: none;
    cursor: pointer;
}